DEBUG=0

SERVER_HOST_AUTH=0.0.0.0
SERVER_PORT_AUTH=3000

ROUTE_PREFIX_AUTH=/api-auth
SWAGGER_PREFIX_AUTH=/api-auth-info

BASE_URL=localhost:3000

JWT_ACCESS_LIFETIME=86400
JWT_ACCESS_SECRET=YvcMg2GW6gZjAwdramXafS9lHaQ9txbvSHZNHDDR
JWT_REFRESH_LIFETIME=2592000
JWT_REFRESH_SECRET=SOv2cT29VqxrV1Q9J8M6CALGzTYflAR2wXJaiSQ1



DB_HOST=localhost
DB_PORT=5432
DB_USERNAME=invoices_light
DB_PASSWORD=invoices_light
DB_DATABASE=invoices_light

REDIS_PORT=6379
REDIS_HOST=127.0.0.1
REDIS_DB=0
REDIS_USERNAME=invoices_light
REDIS_PASSWORD=invoices_light

BROKER_URL=amqp://invoices_light:invoices_light@127.0.0.1:5672/invoices_light



TELEGRAM_AUTH=0
TELEGRAM_BOT_TOKEN=5...k



GOOGLE_AUTH=0
GOOGLE_CLIENT_ID=7...3.apps.googleusercontent.com
GOOGLE_SECRET=G...9
GOOGLE_REDIRECT=http://localhost:3000/api/v1/auth/google
